<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!-- O seu userName para acessar a IAgente. -->
    <add key="userName" value="none"/>

    <!-- A sua senha para acessar a IAgente.-->
    <add key="password" value="none"/>

    <!-- Lista de telefones, separada por vírgula, que receberão os SMS de teste. 
    São necessários dois telefones para a correta execução dos testes funcionais  -->
    <add key="receivers" value="5100000000,5100000001"/>
  </appSettings>
</configuration>